{% extends 'base.html' %}

{% block title %} Home {% endblock title %}


{% block body %}


<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="static\1.jpg" class="d-block w-100" alt="..." />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap w-full mb-20">
                <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Group Members</h1>
                    <div class="h-1 w-20 bg-indigo-500 rounded"></div>
                </div>
            </div>
            <div class="flex flex-wrap -m-4">
                <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-gray-100 p-6 rounded-lg">
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Sanket Chavan</h2>
                        <p class="leading-relaxed text-base"><b>Roll number: 26 <br><b>Batch: A2</b></b></p>
                    </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-gray-100 p-6 rounded-lg">
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Keyur Chaudhari</h2>
                        <p class="leading-relaxed text-base"><b>Roll number: 28 <br><b>Batch: A2</b></b></p>
                    </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-gray-100 p-6 rounded-lg">
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Tanmay Mahajan</h2>
                        <p class="leading-relaxed text-base"><b>Roll number: 21 <br><b>Batch: A2</b></b></p>
                    </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-gray-100 p-6 rounded-lg">
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Parshv Meher</h2>
                        <p class="leading-relaxed text-base"><b>Roll number: 37 <br><b>Batch: A3</b></b></p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
{% endblock body %}