{% extends 'base.html' %}

{% block title %}
Update Patient
{% endblock title %}

{% block body %}

{% load crispy_forms_tags %}

<form action="" method="post">
{% csrf_token %}
<!-- {{ form|crispy }} -->
<div class="container">
<div class="row g-3">
  <div class="col">
    {{form.firstname | as_crispy_field}}
  </div>
  <div class="col">
    {{form.lastname |as_crispy_field}}
  </div>
  <div class="col">
    {{form.age |as_crispy_field}}
  </div>
  <div class="col">
    {{form.gender |as_crispy_field}}
  </div>
  <div class="col">
    {{form.pbloodtype |as_crispy_field}}
  </div>
  <div class="col">
    {{form.hospitalid |as_crispy_field}}
  </div>

  <div>
    <input type="submit" name = 'Confirm' class="btn btn-primary">
  </div>
</div>
</div>




{% endblock body %}